.login-box{
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(15px);

}

.login-box-2{
    position: relative;
    width: 50%;
    height: 50%;
    background: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(15px);

}

section{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(../assets/hospital1.jpg);
    background-size: cover ;
    background-position: center;
   

}



h1{
    color: white;
    font-size: 2em;
    text-align: center;
}

.input-box{
    position: relative;
    width: 310px;
    
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}

.login-btn{
    width: 90%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    color: #000;
}

.register-link{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;
    
}

.register-link button{
    border-radius: 40px;
    cursor: pointer;
    width: 90%;
    
}

.register-link p button{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    
}

.register-link p button:hover{
    text-decoration: underline;
}

.login-status{
    border-radius: 40px;
    cursor: pointer;
    width: 90%;
}

@media (max-width: 360px){
    .login-box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }

    .input-box{
        width: 290px;

    }
}

.login-box .checkbox{
    color: white;
}


.input-box-2{
    position: relative;
    width: 310px;
    
    border-bottom: 2px solid white;
    margin: 30px 0;
}

.input-cover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20%;
}

.input-box-2 label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s;
}

.input-box-2 input:focus ~ label,
.input-box-2 input:valid ~ label{
    top: -5px;
}

.input-box-2 input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0 5px;
}

.input-box-2 .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: white;
    line-height: 57px;
}